<div class="md:w-1/3 mx-auto">
  <div class="flex text-primary text-xl font-bold">
    <%= link_to "←", members_shifts_path(year: @date.yesterday.year, month: @date.yesterday.month, day: @date.yesterday.day) %>
    <h2 class="mb-4 mx-auto"><%= l(@date, format: :long) %>の出勤のメンバー</h2>
    <%= link_to "→", members_shifts_path(year: @date.tomorrow.year, month: @date.tomorrow.month, day: @date.tomorrow.day) %>
  </div>

    <% if @shifts == [] %>
      <p>No Members.</p>
    <% else %>
      <table class="table table-compact w-full text-center">
        <thead>
          <tr>
            <th>Member</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Rest(Min)</th>
          </tr>
        </thead>
        <% @shifts.each_with_index do |shift, i| %>
        <tbody>
          <tr class="<%= 'active' if i % 2 == 0 %>">
            <td><%= shift.user.name %></td>
            <td><%= shift.start_at.strftime("%H:%M") %></td>
            <td><%= shift.finish_at.strftime("%H:%M") %></td>
            <td><%= shift.break_time %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% end %>
</div>
